/* GLOBAL RESETS */
* { box-sizing: border-box; }
body { margin: 0; }

/* GLOBAL COLORS */
body {
    background-color: #f9f1ff;
    color: rgba(0,0,0,.8);
}
a { color: rgba(0,0,0,.9);}
a:hover { color: rgba(0, 0, 0, 1); }

/* GLOBAL TYPOGRAPHY */
body {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 87.5%; /* 14px */
    line-height: 1.4;
}
h1{ font-weight: bold; }

h2,h3 { 
  font-weight: normal; 
  font-size: 20px;
  text-align: left;
}
p {
  font-size: medium;
  max-width: 35em; 
}
a { text-decoration: none;}

/* BODY BACKGROUND GRADIENT ANIMATION*/
/* MAIN */
/* body {
	background: linear-gradient(-45deg, #dbb9f2, #c77ede, #cbdc4e, #a2b50e);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} */


/* TYPE SPECIMEN */
.headline {
    font-size: 4em;
    font-weight: 400;
    line-height: 1;
    margin: 0 0 .4em 0;
}
.subheadline {
    font-size: 2em;
    font-weight: 300;
    line-height: 1;
    margin: 0 0 .6em 0;
    color: rgba(0,0,0,.5); 
}

/* MEDIA */
img {
    max-width: 100%;
    height: auto;
}

img.circular {
  border-radius: 100%;
}

/* LOGO */
.logo{
  padding: 2em;
}
  
/* BUTTONS */
.button {
    display: inline-block;
    border: none;
    background-color:#b37fd6;
    ;
    color:rgb(255, 255, 255);
    border-radius: 3em;
    padding: 0.75em 1em;
    margin-top: .5em;
    margin-bottom: .5em;

}
.button:hover {
    background: rgba(0, 0, 0, 1);
    color: #cbdc4e;
    border-color: rgba(0, 0, 0, 1);
}

/* LAYOUT */
.container{
    max-width: 1000px;
    margin: 0 auto;
  }



  /* STRUCTURE */

  .site-header,
  .site-footer {
    text-align: center;
    margin: 1em 0;
    padding-bottom: 1em;
  }
  
  .site-header {
    display: flex;
    justify-content: space-between;
    /* position: absolute; */
    width: 100%;
  }
  
  .site-header h1 {
    font-size: 1.5em;
    font-weight: 400;
    margin: 0;
  }
  
  .site-header h1 a {
    color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 1em;
    display: inline-block;
    transition: .2s ease-out all;
  }
  
  .site-header h1 a:hover {
    color: rgba(0, 0, 0, 1);
  }

.site-branding h1 {
  font-size: 2em;
  margin: 0;
  font-weight: normal;
}

.site-navigation ul {
  margin: 0;
  padding: 2em 0;
}

.site-navigation li {
  margin: 0 .5em;
  padding: 0;
  display: inline-block;
}

.site-navigation a {
  display: block;
  padding: 1em .5em;
  color: rgba(0,0,0,.4);
}

.site-navigation a:hover,
.site-navigation a.selected {
  color: rgba(0,0,0,.6);
  border-bottom: 0.05em solid rgba(0,0,0,.2);
}

section {
  padding: 0 0 3em 0;
}


/* FLEX GRID */

@media (min-width: 768px) {

  .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
  }

  .one-half.column {
    width: 48%;
  }
  .one-third.column {
    width: 32%;
  }
  .two-thirds.column {
    width: 60%;
  }

}

/* #THUMBGRID */
.thumbgrid {
  display: block;
  flex-wrap: wrap;
  justify-content: space-between;
}

.thumbgrid a {
  width: 49.5%;
  display: inline-block;
}

.thumbgrid a .caption{
  opacity: 0;
  transition: .4s ease-in-out all;
  font-weight: bold;
}

.thumbgrid a:hover .caption{
  opacity: 1;
}

.thumbgrid a:hover img{
  scale: 1.01;
}


@media (min-width:768px) {
  .thumbgrid a {
    width: 24.5%;
  }
}

.thumbgrid a img {
  filter: brightness(1.05);
  transition: all ease-in-out 0.2s;
  border: 1px solid rgba(255,255,255,0);
}

.thumbgrid a:hover img {
  filter: brightness(1);
  /* border: 1px solid rgba(0,0,0,.3); */
}

.thumbgrid img {
  width: 300px;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
}


/* HELPERS */
.text-centered {
  text-align: center;
}

.text-centered p,
.mywufooform{
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;
}

.subheader {
  color: rgba(0,0,0,.5);
  font-weight: normal;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.full-width img {
  width: 100%;
}

  
  /* SITE NAV */
  .site-navigation ul {
    padding: 0;
    margin: 1em 1.5em 0 0;
  }
  
  .site-navigation ul li {
    display: inline-block;
  }
  
  .site-navigation ul li a {
    display: block;
    padding: 1em 0.5em;
    margin: 0 .2em;
    color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    transition: .2s ease-out all;
  }
  
  .site-navigation ul li a:hover {
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 1);
  }
  
  .site-navigation ul li a.selected {
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  }

  .site-identity {
    margin: 1em;
  }

  /* MAIN CONTENT */
main { padding: 1em 0; }
section {
  padding: 2em;
  min-height: 90vh;
  display: grid;
  align-items: center;
  justify-content: center;
}

/* FEATURED PROJECTS ON HOME PAGE */
@media (min-width: 768px) {


    .featuredproject {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1200px;
      margin: 0 auto;
    }
    .featuredproject.swapped {
      flex-direction: row-reverse;
    }
    .featuredproject .image-wrapper {
      width: 49%;
    }
    .featuredproject .text-wrapper {
      width: 49%;
      padding: 3em;
    }
  
  }

 /* HERO */
 .hero {
  margin-top: 2em;
 }

 .project1-hero {
  background-color:#cbdc4e;
 }

 .project3-hero{
    background-size: cover;
    background-position: 50% 50%;
    background-image: url(../project3/img/finland.jpg);
    border-top: none;
 }

 .hero h1 {
   font-family: Helvetica, sans-serif;
   font-weight: bolder;
   font-size: 6em;
   margin: 0;;
 }

 /* .hero-heading{
  background-color: #e6ddec;
  border-radius: 100%;
  padding: 8em;
 } */

 .hero-heading h1{
  text-align: center;
  line-height: 1em;
  text-shadow: 2px 2px 4px #cbdc4e;
 }

.intro {
  margin: 3em;
  padding: 3em;
  background-color: aliceblue;
  border-radius: 2em;
}


/* OVERLAP BLOCKS */
* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
}
figure {
  margin: 0;
}
.wp-block-group {
  padding-top: 4em;
  padding-bottom: 4em;
  /* margin: 4em 0; */
}

.wp-block-columns {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 782px) {
  .wp-block-columns {
    display: flex;
    flex-wrap: nowrap;
  }
}

.wp-block-column {
  flex-grow: 1;
  min-width: 0;
  word-break: break-word;
  overflow-wrap: break-word;
}

@media (min-width: 782px) {
  .wp-block-column {
    flex-basis: 0;
    flex-grow: 1;
  }
}

/* POTENTIAL CHILD THEME CUSTOM STYLING */

/* NMA OVERLAPS */

@media (min-width: 782px) {
  .nma-overlap {
    align-items: center;
  }

  .nma-overlap .wp-block-column:last-child {
    background: rgb(221, 203, 255);
    padding: 2em;
    margin-left: -4em;
    position: relative;
    z-index: 10;
    border-radius: 25px;
  }

  .nma-overlap.nma-swap {
    flex-direction: row-reverse;
  }

  .nma-overlap.nma-swap .wp-block-column:last-child {
    margin-left: 0;
    margin-right: -4em;
  }

  .nma-overlap.nma-topalign {
    align-items: flex-start;
  }
  .nma-overlap.nma-topalign .wp-block-column:last-child {
    margin-top: -4em;
  }

  .nma-overlap.nma-bottomalign {
    align-items: flex-end;
  }
  .nma-overlap.nma-bottomalign .wp-block-column:last-child {
    margin-bottom: -4em;
  }

  .nma-overlap.nma-bottomalign figcaption {
    margin-right: 5em;
  }
}

/* IMAGE GALLERY */
.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}


.gallery img {
  width: 300px;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
}

.gallery::after {
  content: "";
  width: 350px;
}
.rgallery h1{
  font-family: Helvetica, sans-serif;
    font-size: 5em;
    color:rgb(31, 29, 29);
    line-height: 1.4;
    text-align: center;
}

/* IMAGE GRID */
:root {
  --gridgap: 1em;
}
.row > * {
  margin-bottom: var(--gridgap);
}
@media (min-width: 768px) {
  .row {
    display: flex;
    /* grid-template-columns: repeat(12, 1fr); */
    gap: var(--gridgap);
  }
}

.row > .cols-1 { grid-column: auto / span 1; }

/* SCROLL ANIMATIONS */
/* ON SCROLL: MOVE IN FROM LEFT */
.nma-onscroll-movein-fromleft {
  animation: nma-movein-fromleft both linear;
  animation-timeline: view();
  animation-range: entry 0% contain 50%;
}
@keyframes nma-movein-fromleft {
  0% { translate: -50px; opacity: 0; }
  100% { translate: 0; opacity: 1; }
}

/* MOVE IN FROM RIGHT */
.nma-onscroll-movein-fromright {
  animation: nma-movein-fromright both linear;
  animation-timeline: view();
  animation-range: entry 0% contain 50%;
}
@keyframes nma-movein-fromright {
  0% { translate: 50px; opacity: 0; }
  100% { translate: 0; opacity: 1; }
}

/* ON SCROLL: FADE IN */
.nma-onscroll-fadein {
  animation: nma-fade-in both linear;
  animation-timeline: view();
  animation-range: entry 0% contain 50%;
}
@keyframes nma-fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* ABOUT PAGE */
.about{
  background-color: #e3cff0;
  border-radius: 30px;
  padding: 3em;
  margin: 2em;
}

.about h1{
  font-family: Helvetica, sans-serif;
   font-weight: bolder;
   font-size: 4em;
}

.about-img {
  margin: 2em;
  transform: translateY(23%);
}

/* RESEARCH BLOCK */
.project1{
  background-size: cover;
  background-position: 50% 50%;
  background-image: url(../project1/img/bk-sign2.png);
  border-top: none;
}

.project1 h1,
.project2 h1,
.project3 h1,
.project4 h1{
  font-family: Helvetica, sans-serif;
   font-weight: bolder;
   font-size: 4em;
   margin: 0;
   color: white;
   text-shadow: 2px 2px 4px rgba(0,0,0,.6);
}

.project2{
  background-size: cover;
  background-position: 50% 50%;
  background-image: url(../project2/img/opticalbg.jpg);
  border-top: none;
}

.project3{
  background-size: cover;
  background-position: 50% 50%;
  background-image: url(../project3/img/helsinki_research.png);
  border-top: none;
}

.project4{
  background-size: cover;
  background-position: 50% 50%;
  background-image: url(../project4/img/olympic-research.png);
  border-top: none;
}


/* TEXT BLOCK */
.text-block{
  margin-bottom: 2em;
  padding-bottom: 3em;
}

/* HELSINKI LOGO */
.logo-helsinki{
  background-color: white;
  margin: 2em;
}

/* BUBBLE ABOUT */
body,html{
  width:100%;
  height: 100%;
}
.bubbles{
  position:absolute;
  width:100%;
  height: 100%;
  z-index:0;
  overflow:hidden;
  top:0;
  left:0;
}
.bubble{
  position: absolute;
  bottom:-100px;
  width:40px;
  height: 40px;
  background:#e29eff;
  border-radius:50%;
  opacity:0.5;
  animation: rise 10s infinite ease-in;
}
.bubble:nth-child(1){
  width:40px;
  height:40px;
  left:10%;
  animation-duration:8s;
}
.bubble:nth-child(2){
  width:20px;
  height:20px;
  left:20%;
  animation-duration:5s;
  animation-delay:1s;
}
.bubble:nth-child(3){
  width:50px;
  height:50px;
  left:35%;
  animation-duration:7s;
  animation-delay:2s;
}
.bubble:nth-child(4){
  width:80px;
  height:80px;
  left:50%;
  animation-duration:11s;
  animation-delay:0s;
}
.bubble:nth-child(5){
  width:35px;
  height:35px;
  left:55%;
  animation-duration:6s;
  animation-delay:1s;
}
.bubble:nth-child(6){
  width:45px;
  height:45px;
  left:65%;
  animation-duration:8s;
  animation-delay:3s;
}
.bubble:nth-child(7){
  width:90px;
  height:90px;
  left:70%;
  animation-duration:12s;
  animation-delay:2s;
}
.bubble:nth-child(8){
  width:25px;
  height:25px;
  left:80%;
  animation-duration:6s;
  animation-delay:2s;
}
.bubble:nth-child(9){
  width:15px;
  height:15px;
  left:70%;
  animation-duration:5s;
  animation-delay:1s;
}
.bubble:nth-child(10){
  width:90px;
  height:90px;
  left:25%;
  animation-duration:10s;
  animation-delay:4s;
}
@keyframes rise{
  0%{
    bottom:-100px;
    transform:translateX(0);
  }
  50%{
    transform:translate(100px);
  }
  100%{
    bottom:1080px;
    transform:translateX(-200px);
  }
}